
body{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:hsl(212, 45%, 89%);
    margin: 0;
    min-height: 90vh;
}

.white-fon{
    background-color: hsl(0, 0%, 100%);
    width:22vw;
    height: 70vh;
    border-radius: 4%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

.picture {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.picture img{
    border-radius: 4%;
}



